<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header>
                <div class='row'>
                    <div class='col-md-6'>
                        Student Maintance
                    </div>
                    <div class='col-md-6 text-right'><span class="nb-help"></span></div>
                    </div>
            </nb-card-header>

            <nb-card-body>
                <div class='row'>
                    <div class='col-md-6'>
                        <button nbButton status="primary" (click)="openBulkUploadDialog()">Bulk Upload</button>
                    </div>
                    <div class='col-md-6 text-right'>
                        <button nbButton status="primary" (click)="downloadExcelExport()">Excel Export</button>
                    </div>
                </div>

                <div class='row pt-3'>
                    <div class='col-md-12'>
                        <ng2-smart-table [settings]="tableSetting" [source]="studentSource" (createConfirm)="onPostCall($event)" (editConfirm)="onPostCall($event)"
                            (deleteConfirm)="onDeleteConfirm($event)">
                        </ng2-smart-table>
                    </div>
                </div>
            </nb-card-body>

        </nb-card>
    </div>
</div>