<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header>
                School Maintance
            </nb-card-header>

            <nb-card-body>

                <div class='row'>
                    <div class='col-md-6'>
                        <label class='control-label'>School Name</label>
                        <nb-select placeholder="Select" outline>
                            <nb-option value="1">Nikita Matriculation School</nb-option>
                            <nb-option value="2">KV Matriculation School</nb-option>
                            <nb-option value="3">SSVM Matriculation School</nb-option>
                        </nb-select>
                    </div>
                    <div class='col-md-6'>
                        <label class='control-label'>City</label>
                        <nb-select placeholder="Select" outline>
                            <nb-option value="1">Coimbatore</nb-option>
                            <nb-option value="2">Erode</nb-option>
                        </nb-select>
                    </div>
                </div>

                <div class='row pt-3 text-right'>
                    <div class='col-md-6'></div>
                    <div class='col-md-6'>
                        <button nbButton status="primary">Search</button>
                    </div>
                </div>

                <div class='row'>
                    <div class='col-md-6'>
                        <button nbButton status="primary" (click)="createSchool()">Add School</button>
                    </div>
                    <div class='col-md-6'></div>
                </div>

                <div class='row pt-3'>
                    <div class='col-md-12'>
                        <table class='table table-bordered'>
                            <thead>
                                <tr>
                                    <th width='30%'>School Name</th>
                                    <th width='20%'>City</th>
                                    <th width='25%' class='text-center'>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Nikita Matriculation School</td>
                                    <td>Coimbatore</td>
                                    <td>
                                        <div class='row'>
                                            <div class='col-md-4'>
                                                <button nbButton size="xsmall">View</button>
                                            </div>
                                            <div class='col-md-4'>
                                                <button nbButton size="xsmall">Edit</button>
                                            </div>
                                            <div class='col-md-4'>
                                                <button nbButton size="xsmall">Delete</button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>KV Matriculation School</td>
                                    <td>Coimbatore</td>
                                    <td>
                                        <div class='row'>
                                            <div class='col-md-4'>
                                                <button nbButton size="xsmall">View</button>
                                            </div>
                                            <div class='col-md-4'>
                                                <button nbButton size="xsmall">Edit</button>
                                            </div>
                                            <div class='col-md-4'>
                                                <button nbButton size="xsmall">Delete</button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>SSVM Matriculation School</td>
                                    <td>Coimbatore</td>
                                    <td>
                                        <div class='row'>
                                            <div class='col-md-4'>
                                                <button nbButton size="xsmall">View</button>
                                            </div>
                                            <div class='col-md-4'>
                                                <button nbButton size="xsmall">Edit</button>
                                            </div>
                                            <div class='col-md-4'>
                                                <button nbButton size="xsmall">Delete</button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


            </nb-card-body>

        </nb-card>
    </div>
</div>