<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-body [nbSpinner]="isSpinner" nbSpinnerSize="xxlarge" nbSpinnerStatus="success">
              <nb-tabset>
                <nb-tab tabTitle="Individual Performance Metrics" tabIcon="nb-person" responsive>
                <form [formGroup]="perfMetricsForm" (ngSubmit)="viewIndividualPerformanceMetrics()">
                    <div class='row pt-5'>
                        <div class="col-sm-5">
                            <label for="schoolId" class="col-form-label required">School</label>
                            <div class="input-group required">
                                <select id="schoolId" name="schoolId" formControlName="schoolId" class="form-control form-control-sm" [ngClass]="displayFieldCss('schoolId')" (change)="loadIndividualClassDetailsBySchool($event.target.value)" required>
                                    <option value=''>Select</option>
                                    <option *ngFor="let school of schoolList" value={{school.id}}>
                                        {{school.schoolName}}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <label for="className" class="col-form-label required">Class & Section</label>
                            <div class="input-group">
                                <select id="classId" name="classId" formControlName="classId" class="form-control form-control-sm" [ngClass]="displayFieldCss('classId')">
                                    <option value=''>Select</option>
                                    <option *ngFor="let class of classList" value={{class.id}}>
                                        {{class.classAndSectionName}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    
                    <div class='row'>
                        <div class='col-md-2'>
                            <label for="month" class="col-form-label required">Month</label>
                            <div class="input-group">
                                <select id="month" name="month" formControlName="month" class="form-control form-control-sm" [ngClass]="displayFieldCss('month')">
                                    <option value=''>--Select--</option>
                                    <option value='1'>Jan</option>
                                    <option value='2'>Feb</option>
                                    <option value='3'>Mar</option>
                                    <option value='4'>Apr</option>
                                    <option value='5'>May</option>
                                    <option value='6'>Jun</option>
                                    <option value='7'>Jul</option>
                                    <option value='8'>Aug</option>
                                    <option value='9'>Sep</option>
                                    <option value='10'>Oct</option>
                                    <option value='11'>Nov</option>
                                    <option value='12'>Dec</option>
                                </select>
                            </div>
                        </div>
                        <div class='col-md-2'>
                            <label for="week" class="col-form-label required">Week</label>
                            <div class="input-group">
                                <select id="week" name="week" formControlName="week" class="form-control form-control-sm" [ngClass]="displayFieldCss('week')">
                                    <option value=''>Select</option>
                                    <option value='2019-02-01~2019-02-01'>Week-1</option>
                                    <option value='2019-02-04~2019-02-08'>Week-2</option>
                                    <option value='2019-02-11~2019-02-15'>Week-3</option>
                                    <option value='2019-02-18~2019-02-22'>Week-4</option>
                                    <option value='2019-02-25~2019-02-28'>Week-5</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row pt-3">
                        <div class="col-sm-3 text-left errormsg">
                            <span style="color:red" *ngIf="isSearchDataNotValid">All fields are mandatory!</span>
                        </div>
                    </div>
                    <div class='row pt-3'>
                        <div class="col-sm-3 text-left">
                            <button class="btn btn-primary btn-sm" type="button" (click)="resetPerformanceSearch();">Reset</button>
                        </div>
                        <div class="col-sm-3 text-center">
                            <button class="btn btn-primary btn-sm" type="submit">View Metrics</button>
                        </div>
                        <div class='col-sm-3 text-right'>
                            <button class="btn btn-primary btn-sm" type="button" (click)="downloadExcelExport()">Excel Export</button> 
                        </div>
                    </div>
                </form>
    
                    <div class="row pt-3">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-sm table-striped table-bordered">
                                    <thead>
                                        <!-- Top Header Row - Start -->
                                        <tr>
                                            <th rowspan="2" scope="col">Roll ID</th>
                                            <th rowspan="2" scope="col">Name</th>
                                            <ng-container *ngFor="let headerObj of performanceMetricsSource.headers">
                                                <th colspan="3" scope="col" class="text-center">
                                                    <label nbTooltip="{{headerObj.title}}" nbTooltipPlacement="top" nbTooltipStatus="info">{{headerObj.title}}</label> &nbsp;
                                                </th>
                                            </ng-container>
                                        </tr>
                                        <!-- Top Header Row - End -->
    
                                        <!-- Top Sub Header Row - Start -->
                                        <tr>
                                            <ng-container *ngFor="let headerObj of performanceMetricsSource.headers">
                                                <ng-container *ngIf="headerObj.subTitleList.length > 0">
                                                    <th *ngFor="let subTitle of headerObj.subTitleList" class="text-center" scope="col">
                                                        <label nbTooltip="{{subTitle.title}}" nbTooltipPlacement="top" nbTooltipStatus="info">{{subTitle.alais}}</label>
                                                    </th>
                                                </ng-container>
                                            </ng-container>
                                        </tr>
                                        <!-- Top Sub Header Row - End -->
                                    </thead>
                                    <tbody>
                                        <!-- Row content - Start -->
                                        <tr *ngFor="let performanceRow of performanceMetricsSource.performanceRows">
                                            <td scope="col">{{ performanceRow.rollId }}</td>
                                            <td scope="col">{{ performanceRow.name }}</td>
                                            <ng-container *ngFor="let performanceDay of performanceRow.performanceMetricsDays">
                                                <!-- Single Value -->
                                                <td scope="col" *ngFor="let performanceData of performanceDay.performanceDatas" style="text-align:center;">
                                                    <label nbTooltip="{{performanceData.value==true?2:0}}" nbTooltipPlacement="top" nbTooltipStatus="info">{{performanceData.value==true?2:0}}</label>
                                                </td>
                                            </ng-container>
                                        </tr>
                                        <!-- Row content - End -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </nb-tab>
                <nb-tab tabTitle="Class-wise Metrics" tabIcon="nb-compose" responsive>
                    <form [formGroup]="classPerfMetricsForm" (ngSubmit)="viewClasswisePerformanceMetrics()">
                        <div class='row pt-5'>
                            <div class="col-sm-5">
                                <label for="schoolId" class="col-form-label required">School</label>
                                <div class="input-group required">
                                    <select id="schoolId" name="schoolId" formControlName="schoolId" class="form-control form-control-sm" [ngClass]="displayFieldCss('schoolId')" (change)="loadClasswiseClassDetailsBySchool($event.target.value)" required>
                                        <option value=''>Select</option>
                                        <option *ngFor="let school of schoolList" value={{school.id}}>
                                            {{school.schoolName}}
                                        </option>
                                    </select>
                                </div>
                            </div>
    
                            <div class="col-sm-3">
                                <label for="className" class="col-form-label required">Class</label>
                                <div class="input-group">
                                    <select [(ngModel)]="selectedClass" id="classId" name="classId" formControlName="classId" class="form-control form-control-sm" [ngClass]="displayFieldCss('classId')">
                                        <option value=''>Select</option>
                                        <option *ngFor="let class of classList" [ngValue]="class">
                                            {{class.className}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>

                    <div class="row pt-3">
                            <div class="col-sm-3 text-left errormsg">
                                <span style="color:red" *ngIf="isClasswiseSearchDataNotValid">All fields are mandatory!</span>
                            </div>
                        </div>
                        <div class='row pt-3'>
                            <div class="col-sm-3 text-left">
                                <button class="btn btn-primary btn-sm" type="button" (click)="resetClasswisePerformanceSearch();">Reset</button>
                            </div>
                            <div class="col-sm-3 text-center">
                                <button class="btn btn-primary btn-sm" type="submit">View Classwise Metrics</button>
                            </div>
                            <div class='col-sm-3 text-right'>
                                <button class="btn btn-primary btn-sm" type="button" (click)="downloadExcelExport()">Excel Export</button> 
                            </div>
                        </div>
                    </form>
    
                    <div class="row pt-3">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-sm table-striped table-bordered">
                                    <thead>
                                        <!-- Top Header Row - Start -->
                                        <tr>
                                            <ng-container *ngFor="let headerObj of classWiseMetricsSource.headers">
                                                <th scope="col" class="text-center">
                                                    <label nbTooltip="{{headerObj.title}}" nbTooltipPlacement="top" nbTooltipStatus="info">{{headerObj.title}}</label> &nbsp;
                                                </th>
                                            </ng-container>
                                        </tr>
                                        <!-- Top Header Row - End -->
                                    </thead>
                                    <tbody>
                                        <!-- Row content - Start -->
                                        <tr class="text-center" *ngFor="let performanceRow of classWiseMetricsSource.performanceRows">
                                            <td scope="col">{{ performanceRow.class }}</td>
                                            <td scope="col">{{ performanceRow.attendance }}</td>
                                            <td scope="col">{{ performanceRow.discipline }}</td>
                                            <td scope="col">{{ performanceRow.homework }}</td>
                                            <td scope="col">{{ performanceRow.total }}</td>
                                        </tr>
                                        <!-- Row content - End -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </nb-tab>
                <nb-tab tabTitle="Team-wise Metrics" tabIcon="nb-snowy-circled" responsive>
                    <form [formGroup]="teamPerfMetricsForm" (ngSubmit)="viewTeamwisePerformanceMetrics()">
                        <div class='row pt-5'>
                            <div class="col-sm-5">
                                <label for="schoolId" class="col-form-label required">School</label>
                                <div class="input-group required">
                                    <select id="schoolId" name="schoolId" formControlName="schoolId" class="form-control form-control-sm" [ngClass]="displayFieldCss('schoolId')" (change)="loadTeamwiseClassDetailsBySchool($event.target.value)" required>
                                        <option value=''>Select</option>
                                        <option *ngFor="let school of schoolList" value={{school.id}}>
                                            {{school.schoolName}}
                                        </option>
                                    </select>
                                </div>
                            </div>
    
                            <div class="col-sm-3">
                                <label for="className" class="col-form-label required">Class & Section</label>
                                <div class="input-group">
                                    <select id="classId" name="classId" formControlName="classId" class="form-control form-control-sm" [ngClass]="displayFieldCss('classId')">
                                        <option value=''>Select</option>
                                        <option *ngFor="let class of classList" value={{class.id}}>
                                            {{class.classAndSectionName}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>

                    <div class="row pt-3">
                        <div class="col-sm-3 text-left errormsg">
                            <span style="color:red" *ngIf="isTeamwiseSearchDataNotValid">All fields are mandatory!</span>
                        </div>
                    </div>
                    <div class='row pt-3'>
                        <div class="col-sm-3 text-left">
                            <button class="btn btn-primary btn-sm" type="button" (click)="resetTeamwisePerformanceSearch();">Reset</button>
                        </div>
                        <div class="col-sm-3 text-center">
                            <button class="btn btn-primary btn-sm" type="submit">View Teamwise Metrics</button>
                        </div>
                        <div class='col-sm-3 text-right'>
                            <button class="btn btn-primary btn-sm" type="button" (click)="downloadExcelExport()">Excel Export</button> 
                        </div>
                    </div>
                </form>
    
                    <div class="row pt-3">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-sm table-striped table-bordered">
                                    <thead>
                                        <!-- Top Header Row - Start -->
                                        <tr>
                                            <ng-container *ngFor="let headerObj of teamWiseMetricsSource.headers">
                                                <th scope="col" class="text-center">
                                                    <label nbTooltip="{{headerObj.title}}" nbTooltipPlacement="top" nbTooltipStatus="info">{{headerObj.title}}</label> &nbsp;
                                                </th>
                                            </ng-container>
                                        </tr>
                                        <!-- Top Header Row - End -->
                                    </thead>
                                    <tbody>
                                        <!-- Row content - Start -->
                                        <tr class="text-center" *ngFor="let performanceRow of teamWiseMetricsSource.performanceRows">
                                            <td scope="col">{{ performanceRow.team }}</td>
                                            <td scope="col">{{ performanceRow.attendance }}</td>
                                            <td scope="col">{{ performanceRow.discipline }}</td>
                                            <td scope="col">{{ performanceRow.homework }}</td>
                                            <td scope="col">{{ performanceRow.total }}</td>
                                        </tr>
                                        <!-- Row content - End -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                  </nb-tab>
                <nb-tab tabTitle="Encouraging Metrics" tabIcon="nb-arrow-thin-up" responsive>
                  <div class='row pt-5'>
                        <div class='col-md-2'>
                            <label class='col-form-label required'>City</label>
                            <nb-select placeholder="Select" outline>
                                <nb-option value="1">Coimbatore</nb-option>
                                <nb-option value="2">Erode</nb-option>
                            </nb-select>
                        </div>
                        <div class='col-md-3'>
                            <label class='col-form-label required'>School Name</label>
                            <nb-select placeholder="Select" outline>
                                <nb-option value="1">Nikita Matriculation School</nb-option>
                                <nb-option value="2">KV Matriculation School</nb-option>
                                <nb-option value="3">SSVM Matriculation School</nb-option>
                            </nb-select>
                        </div>
                        <div class='col-md-3'>
                            <label class='col-form-label required'>Class</label>
                            <nb-select placeholder="Select" outline>
                                <nb-option value="1">LKG</nb-option>
                                <nb-option value="2">UKG</nb-option>
                                <nb-option value="3">First</nb-option>
                            </nb-select>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-md-2'>
                            <label class='col-form-label required'>Month 1</label>
                            <nb-select placeholder="Select" outline>
                                <nb-option value="1">January</nb-option>
                                <nb-option value="2">February</nb-option>
                                <nb-option value="3">March</nb-option>
                                <nb-option value="4">April</nb-option>
                                <nb-option value="5">May</nb-option>
                                <nb-option value="6">June</nb-option>
                                <nb-option value="7">July</nb-option>
                                <nb-option value="8">August</nb-option>
                                <nb-option value="9">September</nb-option>
                                <nb-option value="10">October</nb-option>
                                <nb-option value="11">November</nb-option>
                                <nb-option value="12">December</nb-option>
                            </nb-select>
                        </div>
                        <div class='col-md-2'>
                            <label class='col-form-label required'>Month 2</label>
                            <nb-select placeholder="Select" outline>
                                <nb-option value="1">January</nb-option>
                                <nb-option value="2">February</nb-option>
                                <nb-option value="3">March</nb-option>
                                <nb-option value="4">April</nb-option>
                                <nb-option value="5">May</nb-option>
                                <nb-option value="6">June</nb-option>
                                <nb-option value="7">July</nb-option>
                                <nb-option value="8">August</nb-option>
                                <nb-option value="9">September</nb-option>
                                <nb-option value="10">October</nb-option>
                                <nb-option value="11">November</nb-option>
                                <nb-option value="12">December</nb-option>
                            </nb-select>
                        </div>
                    </div>
                    <div class='row pt-3'>
                        <div class='col-md-6'>
                            <button nbButton status="primary">Compare Metrics</button>
                        </div>
                        <div class='col-md-3'>
                            
                        </div>
                        <div class='col-md-3'>
                            
                            <button nbButton status="primary" (click)="downloadExcelExport()">Excel Export</button> 
                        </div>
                    </div>
    
                    <div class="row pt-3">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <ng-container *ngFor="let encouragingMetrics of encouragingMetricsSource.metrics">
                                    <table class="table table-sm table-striped table-bordered">
                                        <thead>
                                            <!-- Top Header Row - Start -->
                                            <tr>
                                                    <th scope="col" colspan="5" class="text-center">
                                                        <label nbTooltip="{{encouragingMetrics.metricsType}}" nbTooltipPlacement="top" nbTooltipStatus="info">{{encouragingMetrics.metricsType}} (Comparitive Chart)</label> &nbsp;
                                                    </th>

                                            </tr>
                                            <tr class="text-center">
                                                <td scope="col">Class</td>
                                                <td scope="col">Section</td>
                                                <td scope="col">Month 1</td>
                                                <td scope="col">Month 2</td>
                                                <td scope="col">Increase %</td>
                                            </tr>
                                            <!-- Top Header Row - End -->
                                        </thead>
                                        <tbody>
                                            <!-- Row content - Start -->
                                            <tr class="text-center">
                                                <td  [attr.rowspan]="encouragingMetrics.sectionData.length+1" scope="col">{{ encouragingMetrics.classs }}</td>
                                            </tr>
                                            <ng-container *ngFor="let sectionData of encouragingMetrics.sectionData">
                                                <tr class="text-center">
                                                    <td  scope="col">{{ sectionData.section }}</td>
                                                    <td scope="col">{{ sectionData.month1percentage }}</td>
                                                    <td scope="col">{{ sectionData.month2percentage }}</td>
                                                    <td scope="col">{{ sectionData.changeinpercentage }}</td>
                                                </tr>
                                            </ng-container>
                                            
                                            <tr class="text-center">
                                                <td  scope="col"> </td>
                                                <td  scope="col">Average</td>
                                                <td  scope="col">{{ encouragingMetrics.averageRow.month1average }}</td>
                                                <td  scope="col">{{ encouragingMetrics.averageRow.month2average }}</td>
                                                <td scope="col">{{ encouragingMetrics.averageRow.changeinaverage }}</td>
                                            </tr>
                                            <!-- Row content - End -->
                                        </tbody>
                                    </table>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </nb-tab>
              </nb-tabset>
          
            </nb-card-body>
        </nb-card>
    </div>
</div>