<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header>
                Performance Data
            </nb-card-header>

            <nb-card-body>
                <form [formGroup]="perfDataForm" (ngSubmit)="searchPerformanceData()">
                    <div class="row">
                        <div class="col-sm-4">
                            <label for="schoolId" class="col-form-label">School</label>
                            <div class="input-group required">
                                <select id="schoolId" name="schoolId" formControlName="schoolId" class="form-control form-control-sm" [ngClass]="displayFieldCss('schoolId')"
                                    required>
                                    <option value=''>Select</option>
                                    <option value='1'>SSVM Matriculation School</option>
                                    <option value='2'>Nikita Matriculation School</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <label for="className" class="col-form-label">Class</label>
                            <div class="input-group">
                                <select id="className" name="className" formControlName="className" class="form-control form-control-sm" [ngClass]="displayFieldCss('className')">
                                    <option value=''>Select</option>
                                    <option value='First'>First</option>
                                    <option value='Second'>Second</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <label for="sectionName" class="col-form-label">Section</label>
                            <div class="input-group">
                                <select id="sectionName" name="sectionName" formControlName="sectionName" class="form-control form-control-sm" [ngClass]="displayFieldCss('sectionName')">
                                    <option value=''>Select</option>
                                    <option value='A'>A</option>
                                    <option value='B'>B</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <label for="month" class="col-form-label">Month</label>
                            <div class="input-group">
                                <select id="month" name="month" formControlName="month" class="form-control form-control-sm" [ngClass]="displayFieldCss('month')">
                                    <option value=''>Select</option>
                                    <option value='1'>Jan</option>
                                    <option value='2'>Feb</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <label for="week" class="col-form-label">Week</label>
                            <div class="input-group">
                                <select id="week" name="week" formControlName="week" class="form-control form-control-sm" [ngClass]="displayFieldCss('week')">
                                    <option value=''>Select</option>
                                    <option value='2019-02-01~2019-02-01'>Week-1</option>
                                    <option value='2019-02-04~2019-02-08'>Week-2</option>
                                    <option value='2019-02-11~2019-02-15'>Week-3</option>
                                    <option value='2019-02-18~2019-02-22'>Week-4</option>
                                    <option value='2019-02-25~2019-02-28'>Week-5</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row pt-3">
                        <div class="col-sm-12 text-right">
                            <button class="btn btn-primary btn-sm" type="submit">Search</button>
                        </div>
                    </div>
                </form>

                <div class="row pt-4">
                    <div class="col-sm-2">
                        <button class="btn btn-primary btn-sm" (click)="openBulkUploadMmodal();">Bulk Upload</button>
                    </div>
                    <div class="col-sm-3">
                        <button class="btn btn-primary btn-sm" (click)="downloadTemplate();">
                            <span>Download Template</span>
                        </button>
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-primary btn-sm" (click)="addPerformanceData();" [disabled]="!isPerformanceAddEnabled">Add</button>
                    </div>
                    <div class="col-sm-2 text-right">
                        <nb-checkbox (change)="checkAllPerformance($event);" [disabled]="!isPerformanceChkboxEnabled">Select All</nb-checkbox>
                    </div>
                    <div class="col-sm-1 text-right">
                        <button class="btn btn-primary btn-sm" [disabled]="!isPerformanceEditEnabled" (click)="editPerformanceData();">Edit</button>
                    </div>
                    <div class="col-sm-2 text-right">
                        <button class="btn btn-primary btn-sm" [disabled]="!isPerformanceChkboxEnabled" (click)="submitPerformanceData();">Submit</button>
                    </div>
                </div>

                <div class="row pt-2">
                    <div class="col-sm-12" *ngIf='isShowPerformanceMetricTable'>
                        <div class="table-responsive">
                            <table class="table table-sm table-striped table-bordered">
                                <thead>
                                    <!-- Top Header Row - Start -->
                                    <tr>
                                        <th rowspan="2" scope="col">Roll ID</th>
                                        <th rowspan="2" scope="col">Name</th>
                                        <ng-container *ngFor="let headerObj of performanceSource.headers">
                                            <th colspan="2" scope="col" class="text-center">
                                                <label nbTooltip="{{headerObj.title}}" nbTooltipPlacement="top" nbTooltipStatus="info">{{headerObj.title}}</label> &nbsp;
                                                <nb-checkbox [value]="headerObj.checkValue" (change)="checkPerformanceDayWise($event, headerObj);" [disabled]="!isPerformanceChkboxEnabled"></nb-checkbox>
                                            </th>
                                        </ng-container>
                                    </tr>
                                    <!-- Top Header Row - End -->

                                    <!-- Top Sub Header Row - Start -->
                                    <tr>
                                        <ng-container *ngFor="let headerObj of performanceSource.headers">
                                            <ng-container *ngIf="headerObj.subTitleList.length > 0">
                                                <th *ngFor="let subTitle of headerObj.subTitleList" class="text-center" scope="col">
                                                    <label nbTooltip="{{subTitle.title}}" nbTooltipPlacement="top" nbTooltipStatus="info">{{subTitle.alais}}</label>
                                                    <br/>
                                                    <nb-checkbox [value]="subTitle.checkValue" (change)="checkPerformanceParamWise($event, headerObj, subTitle);" class="pl-4"
                                                        [disabled]="!isPerformanceChkboxEnabled"></nb-checkbox>
                                                </th>
                                            </ng-container>
                                        </ng-container>
                                    </tr>
                                    <!-- Top Sub Header Row - End -->
                                </thead>
                                <tbody>
                                    <!-- Row content - Start -->
                                    <tr *ngFor="let performanceRow of performanceSource.performanceRows">
                                        <td scope="col">{{ performanceRow.rollId }}</td>
                                        <td scope="col">{{ performanceRow.studentName }}</td>
                                        <ng-container *ngFor="let performanceDay of performanceRow.performanceDays">
                                            <!-- <td>{{performanceDay.dateValue}}</td> -->
                                            <!-- Single Value  -->
                                            <td scope="col" *ngFor="let performanceData of performanceDay.performanceData" class="text-center">
                                                <nb-checkbox [value]="performanceData.value" (change)="checkCellPerformanceDataStatus($event, performanceRow, performanceDay, performanceData)"
                                                    class="pl-4" [disabled]="!isPerformanceChkboxEnabled"></nb-checkbox>
                                            </td>
                                        </ng-container>
                                    </tr>
                                    <!-- Row content - End -->
                                </tbody>
                            </table>

                            <table class="table table-sm table-striped table-bordered">
                                <tr class="text-center" *ngIf='performanceSource.performanceRows == null || performanceSource.performanceRows.length == 0'>
                                    <td scope="col">No Data Found</td>
                                </tr>
                            </table>

                        </div>
                    </div>

                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>